extends ../../tpl/components/page

block main
    div.profile
        div.profile__container
            | !{buttonBack}
        div.profile__main
            div.profile__photo
                img.profile__pic
            form(id="formPassword", name="formPassword", onsubmit="sendData(this); return false;")
                div.profile__info
                    div.profile__row
                        p.profile__text Старый пароль
                        | !{inputOldPassword}
                    div.profile__row
                        p.profile__text Новый пароль
                        | !{inputNewPassword}
                    div.profile__row
                        p.profile__text Повторить новый пароль
                        | !{inputNewPasswordRepeat}
                    span.profile__error Пароли не совпадают
                | !{buttonSave}
