extends ../../tpl/components/page

block main
    div.profile
        div.profile__container
            | !{buttonProfile}
        div.profile__main
            div(id="img-preview")
                | !{imageAvatar}
            div.profile__info
                div.profile__row
                    p.profile__text Почта
                    p.text__grey.profile__text !{email}
                div.profile__row
                    p.profile__text Логин
                    p.text__grey.profile__text !{login}
                div.profile__row
                    p.profile__text Имя
                    p.text__grey.profile__text !{firstName}
                div.profile__row
                    p.profile__text Фамилия
                    p.text__grey.profile__text !{secondName}
                div.profile__row
                    p.profile__text Имя в чате
                    p.text__grey.profile__text !{displayName}
                div.profile__row
                    p.profile__text Телефон
                    p.text__grey.profile__text !{phone}
            div.profile__setting
                div.profile__info
                    div.profile__row
                        | !{linkProfileEdit}
                    div.profile__row
                        | !{linkPasswordEdit}
                    div.profile__row
                        | !{linkExit}
