extends ../../tpl/components/page

block main
    div.profile
        div.profile__container
            | !{buttonBack}
        div.profile__main
            form(id="formData", name="formData", onsubmit="sendData(this); return false;")
                div.profile__info
                    button.profile__button-pic
                    div.profile__row
                        p.profile__text Почта
                        | !{inputEmail}
                    div.profile__row
                        p.profile__text Логин
                        | !{inputLogin}
                    div.profile__row
                        p.profile__text Имя
                        | !{inputFirstName}
                    div.profile__row
                        p.profile__text Фамилия
                        | !{inputSecondName}
                    div.profile__row
                        p.profile__text Имя в чате
                        | !{inputDisplayName}
                    div.profile__row
                        p.profile__text Телефон
                        | !{inputPhone}
                | !{buttonSave}
    div.popup.hide
        div.popup__content
            p.popup__text Загрузите файл
            a.popup__link Выбрать файл на компьютере
            | !{buttonChange}
            span.popup__error Нужно выбрать файл
