extends ../components/page

block main
    div.login
        div.login__container
            h1.login__title Вход
            form.form(id='formlogin', name='formlogin', onsubmit="sendData(this); return false;")
                label.form__field-name(for='userLogin', onclick="addBlurFocusListener(this)") Логин
                    input.form__input(id='userLogin',
                        type='text',
                        name='login',
                        minlength=2,
                        maxlength=30,
                        required,
                        placeholder='ivanivanov')
                    span.error(id='error-login') неверный логин
                label.form__field-name(for='userPassword', onclick="addBlurFocusListener(this)") Пароль
                    input.form__input(id='userPassword',
                        type='password',
                        name='password',
                        required,
                        placeholder='пароль')
                    span.error(id='error-password') неверный пароль
                button.form__button.form__top-login(type='submit') !{buttonLogin}
            button.form__signup-button Нет аккаунта?

