mixin chat(chats)
    main.main
        each chat in chats
            time.main__date #{chat.date}
            div.main__container
                each message in chat.messages
                    if message.owner != '2'
                        div.main__user
                            if message.message != ''
                                p.main__message.main__background-grey #{message.message}
                                p.main__time-text.main__background-grey.main__color-grey #{message.clock}
                            else
                                div.main__container-pic
                                    img.main__pic(src=message.imageUrl, alt='Картинка')
                                    time.main__time-pic #{message.clock}
                    else
                        div.main__you
                            p.main__message.main__background-blue #{message.message}
                            p.main__time-text.main__background-blue.main__color-blue #{message.clock}
        div.menu.hide
            button.menu__delete-chat
                img.menu__icon(src='../../../assets/fileAdd.svg')
                p.menu__title Файл
        form.send-form(id='formmessage', name='formmessage', onsubmit="sendData(this); return false;")
            button.send-form__button-add(type='button')
            div.form__field-name
                input.send-form__input(type='text', name='message', placeholder="Сообщение")
                span.error(id='error-message') введите сообщение
            | !{buttonChats}
