extends ../layouts/base

block main
    section.page
        aside.page__aside
            nav.page__nav
                button.page__add +
                | !{linkProfile}
            block.search
                form.search__form(id="formSearch" name="formSearch")
                        input.search__field(
                        type="text"
                        placeholder="Поиск"
                        name="search")
                button.search__button
            block aside
        div.page__content
            block content
    div.popup
        div.popup__content
            form.popup__form(id='formInput', name='formInput')
                input.popup__input(
                    type="text"
                    placeholder="Название чата"
                    name="nameChats")
                button.popup__button-add Создать

